BOT_TOKEN=
NANO_NODE_URL=https://mynano.ninja/api/node
NANO_WORK_GEN_NODE_URLS=https://mynano.ninja/api/node
NANO_NODE_API_KEY=
NANO_NODE_WS_URL=wss://ws.powernode.cc
# DISABLE_CPU_WORK_GEN=true
# DB_FILE=./db
# WORK_CACHE_DB_FILE=./work-cache-db
# TG_USERNAME_DB_FILE=./tg-username-db
# PENDING_TX_DB_FILE=./pending-tx-db
